// ==========================================================================
// utils vars and functions
// ==========================================================================

font_mixin(font, size, color)
	font-family font
	font-size size
	color color

sprite_extras()
	overflow hidden
	text-indent -9999em

hide()
	visibility hidden
	opacity 0

show()
	visibility visible
	opacity 1

