.post
    margin-bottom 40px 

    a 
        color #333

.post-figure
    img 
        display block 
        width 100%

.post-iframe
    margin-bottom 30px

    iframe 
        display block
        width 100%

.post-sessionday

    &:last-child
        &:after
            background transparent

    &:after 
        display block
        content ''
        width 50%
        margin 10px auto 20px auto
        height 1px
        background #f9f9f9

    h4 
        font-weight 700

.post-room
    margin-bottom 20px

    &:last-child
        margin-bottom 0

    h5
        font-size 16px
        font-weight 700

.post-session
    font-size 14px

    strong 
        font-weight 700

.post-infos
    clear both

.post-relateds-item-figure
    img  
        display block
        width 100%


// variations
.post--single
    .post-header
        margin-bottom 40px

    .post-sessionday
        &:after
            background transparent

    // .post-sessionday
    //     width 33%
    //     float left