<div class="home">
    
    <div class="filters">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Buscar por filme</label>
                        <input type="text" name="title" class="form-control" ng-model="home.filter.title" placeholder="Buscar por filme">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Gênero</label>
                        <select name="genre" class="form-control" ng-model="home.filter.genre">
                            <option value="">Selecione</option>
                            <option value="{{ genre }}" ng-repeat="genre in home.filtered.genres">{{ genre }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Horários</label>
                        <select name="hour" class="form-control" ng-model="home.filter.hour">
                            <option value="">Selecione</option>
                            <option value="{{ hour }}" ng-repeat="hour in home.filtered.hours | orderBy">{{ hour }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="posts row">
        
        <article class="post col-md-6" ng-repeat="post in home.filtered.data | filterData:home.filter.title:home.filter.genre:home.filter.hour" ng-if="!post.disabled">
            <div class="post-wrapper row">
                <div class="col-lg-4">
                    <figure class="post-figure">
                        <img ng-src="{{ post.poster }}" alt="">
                    </figure>
                </div>
                <div class="col-lg-8">
                    <header class="post-header">
                        <h2>{{ post.title }}</h2>
                    </header>
                    <div class="post-sessiondays">
                        <div class="post-sessionday" ng-repeat="day in post.sessions_by_date">
                            <h4>{{ day.title }}</h4>
                            <div class="post-room" ng-repeat="room in day.rooms">
                                <h5>{{ room.title }}</h5>
                                <div class="post-session" ng-repeat="session in room.sessions | orderBy:'hour'" ng-if="!session.past">
                                    <strong>{{ session.hour_text }}</strong>
                                    <span class="badge badge-primary" ng-if="session.dubbed">DUBLADO</span>
                                    <span class="badge badge-warning" ng-if="!session.dubbed">LEGENDADO</span>
                                    <span class="badge badge-danger" ng-if="session._3D">3D</span>
                                    <span class="badge badge-dark" ng-if="!session._3D">2D</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-info">
                        <p>{{ post.description | limitText:140 }}</p>
                        <a href="#!/single/{{ post.id }}" class="btn btn-success">Ler mais</a>
                    </div>
                </div>
            </div>
        </article>

    </div>
</div>