<div class="single">

    <article class="post post--single">
        <header class="post-header">
            <h2>{{ single.post.title }}</h2>
            <p>Genêros: {{ single.post.genre }}</p>
        </header>
        <div class="post-wrapper row">
            <div class="col-lg-6">
                <div class="post-iframe" ng-bind-html="single.post.iframe_video"></div>
                <div class="post-info">
                    <p>{{ single.post.description }}</p>
                </div>
            </div>
            <div class="col-lg-6">
               
                <div class="post-sessiondays row">
                    <div class="post-sessionday col-md-4" ng-repeat="day in single.post.sessions_by_date">
                        <h4>{{ day.title }}</h4>
                        <div class="post-room" ng-repeat="room in day.rooms">
                            <h5>{{ room.title }}</h5>
                            <div class="post-session" ng-repeat="session in room.sessions | orderBy:'hour'" ng-if="!session.past">
                                <strong>{{ session.hour_text }}</strong>
                                <span class="badge badge-primary" ng-if="session.dubbed">DUBLADO</span>
                                <span class="badge badge-warning" ng-if="!session.dubbed">LEGENDADO</span>
                                <span class="badge badge-danger" ng-if="session._3D">3D</span>
                                <span class="badge badge-dark" ng-if="!session._3D">2D</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="post-infos">
                    <p><strong>Diretor:</strong> {{single.post.director}}</p>
                    <p><strong>Elenco:</strong> {{single.post.cast}}</p>
                </div>
                
                <div class="post-relateds">
                    <h3>Outros filmes em cartaz</h3>
                    <div class="post-relateds-wrapper row">
                        <div class="post-relateds-item col-md-3" ng-repeat="related in single.data | filterDataByGenre:single.post.genres:single.post.id | limitTo:4">
                            <a href="#!/single/{{ related.id }}">
                                <figure class="post-relateds-item-figure">
                                    <img ng-src="{{ related.poster }}" alt="">
                                </figure>
                                <p>{{ related.title }}</p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>
</div>